@{
    ViewData["Title"] = "Home";
}
<link href="~/css/index.css" rel="stylesheet" />
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/carrousel1.webp" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="~/img/carrousel2.webp" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="~/img/carrousel3.webp" class="d-block w-100" alt="..." />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />

<div class="container">
    <div class="row">
        <h3>¡Encontra las mejores marcas!</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="~/img/indexcarrousel.webp" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="~/img/apple.webp" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/img/indexcarrousel3.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <hr class="featurette-divider">    
        <div class="row featurette" id="imagenes">
            <div class="col-md-7">
                <h4 class="featurette-heading fw-normal lh-1">¿Por qué comprar con nosotros?<span class="text-muted"></span></h4>
                <p class="lead">Tienes muchos beneficios como: ¡envíos gratuitos en productos elegibles, entregas el mismo día, descuentos y eventos exclusivos!</p>
                <img src="~/img/niño gamer.jpg" id="fotogamer" />
            </div>
        </div>
    

    <hr class="featurette-divider">


    <div class="row featurette" id="imagenes">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">¡Contamos con envios a todo el pais!</h2>
                <p class="lead">
                    Todos tus paquetes están asegurados. Si hay algún imprevisto, te cubrimos. Vos y el comprador pueden acompañar el envío todo el tiempo.
                </p>
                <img src="~/img/envios.jpg" id="fotoenvio" />
            </div>
        </div>
    

    <hr class="featurette-divider">

    <a class="btn btn-primary" href="/Productos" role="button">Ir a productos</a>

    <hr class="featurette-divider">

</div>
