@model Empleados
<!--Definen el tipo de modelo-->
@{
    ViewData["Title"] = "GuardarForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <form>                        
            <div class="mb-3">
                <label class="form-label">Tipo Empleado</label>
                <input asp-for="TIPO_EMPLEADO" type="text" class="form-control">
                
            </div>
            
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="NOMBRE" type="text" class="form-control">
                
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input asp-for="APELLIDO" type="text" class="form-control">
                
            </div>           
            <button type="submit" class="btn btn-primary">Guardar</button>
           
        </form>
    </div>
</div>
