@model Proveedores


@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar productos
    </div>
    <div class="card-body">


        <form asp-action="Editar" asp-controller="Proveedores" method="post">
            <input asp-for="PROVEEDORES_COD" type="hidden" class="form-control" />
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="NOMBRE" type="text" class="form-control">

            </div>

            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input asp-for="APELLIDO" type="text" class="form-control">

            </div>
            <div class="mb-3">
                <label class="form-label">Cuit</label>
                <input asp-for="CUIT" type="number" class="form-control">
            </div>
            <button asp-action="Editar" asp-controller="Proveedores" type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Proveedores" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>

