@model Perfiles
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Editar perfiles
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Productos" method="post">
            <input asp-for="PERFILES_CODIGO" type="hidden" class="form-control" />
            <div class="mb-3">
                <label class="form-label">Detalle</label>
                <input asp-for="DETALLE" type="text" class="form-control">
            </div>
            <button asp-action="Editar" asp-controller="Perfiles" type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Perfiles" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>

