@model List<Perfiles>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-header">
        Lista de Perfiles
    </div>
    <div class="card-body">
        <a asp-action="GuardarForm" asp-controller="Perfiles" class="btn btn-success">Crear nuevo</a>
        <hr />
        <table id="tb_perfiles" class="display" style="width:100%">
            <thead>
                <tr>

                    <th>Perfil codigo</th>
                    <th>Detalle</th>
                    <th>Funciones</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PERFILES_CODIGO</td>
                        <td>@item.DETALLE</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Perfiles" class="btn-primary btn-sm" asp-route-id="@item.PERFILES_CODIGO"><img src="~/img/pencil-square.svg" /></a>
                            <a asp-action="Eliminar" asp-controller="Perfiles" class="btn-danger btn-sm" asp-route-id="@item.PERFILES_CODIGO"><img src="~/img/trash-fill.svg" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tb_perfiles').DataTable();
        });
    </script>
}
