@model Usuarios
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Usuarios
    </div>
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="Usuarios" method="post">
            <input asp-for="USUARIOS_CODIGO" type="hidden" class="form-control" />
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el usuario : @Html.DisplayTextFor(m => m.CORREO)?
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Usuarios" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>
