@model Clientes
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar clientes
    </div>
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="Clientes" method="post">
            <input asp-for="CLIENTES_COD" type="hidden" class="form-control" />
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el cliente : @Html.DisplayTextFor(m => m.NOMBRE)?
            </div>

            <button asp-action="Eliminar"asp-controller="Clientes" type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Clientes" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>

